@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;

body {
  @apply relative;
}

html:has(.dark) {
  @apply bg-black;
}

@media (max-width: 520px) {
  br {
    @apply hidden;
  }
}

h1 {
  @apply text-2xl font-bold uppercase tracking-wider text-stone-900 dark:text-stone-200 font-display;
}

h2 {
  @apply w-3/4 text-2xl text-stone-950 dark:text-stone-200 tracking-wider;
}

h3 {
  @apply text-stone-200 text-base font-display font-normal;
}

p, ul, span, div {
  @apply tracking-wide text-stone-900 dark:text-stone-200 text-base;
}

.paragraph-div {
  @apply space-y-4 text-center mt-8 px-6 laptop:px-0;
}

.superior-div {
  @apply min-h-screen relative;
}

.content {
  @apply z-50;
}

.container-div {
  @apply m-auto pt-[80px] laptop:pt-[100px] text-stone-900 flex flex-col laptop:max-w-5xl dark:text-stone-200 overflow-hidden pb-16;
  min-height: calc(100vh - 234px);
}
.container-div > * {
  @apply overflow-hidden max-w-5xl;
}

#slider::-webkit-scrollbar {
  display: none;
}
#slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

:root {
  font-size: 16px;
}

@tailwind utilities;
