@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;600&display=swap');

@tailwind base;
@tailwind components;

:root {
  font-size: 18px;
}

h1 {
  @apply text-center text-2xl pt-8 pb-6 px-4 font-bold uppercase tracking-wider text-stone-900 dark:text-gray-200 font-display;
}

h2 {
  @apply w-3/4 text-2xl text-gray-100 tracking-wider font-display;
}

h3 {
  @apply text-gray-200 drop-shadow-xl text-base font-display font-normal;
}

p {
  @apply tracking-wide;
}

.paragraph-div {
  @apply space-y-4 text-center mt-8 px-4 laptop:px-0;
}

.superior-div {
  @apply min-h-screen relative;
}

.background {
  @apply bg-gray-100 dark:bg-black -z-50 fixed w-full h-[100vh];
}

.content {
  @apply z-50;
}

.container-div {
  @apply m-auto pt-20 text-stone-900 flex flex-col laptop:max-w-3xl dark:text-gray-200 overflow-hidden;
  min-height: calc(100vh - 234px);
}
.container-div > * {
  @apply laptop:max-w-3xl overflow-hidden;
}

#slider::-webkit-scrollbar {
  display: none;
}
#slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@tailwind utilities;
