@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;

:root {
  --display-font: "Josefin Sans", sans-serif;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

.s-div {
  @apply bg-gray-100 dark:bg-black;
}

h1 {
  font-family: var(--display-font);
  @apply text-center text-2xl pb-5 pt-8 px-5 font-bold uppercase tracking-wider transition-all text-gray-900 dark:text-gray-200;
}

h2 {
  font-family: var(--display-font);
  @apply w-3/4 text-2xl text-gray-200 tracking-wider;
}

h3 {
  font-family: var(--display-font);
  @apply tracking-wider text-gray-200 drop-shadow-xl text-lg italic;
}

p {
  @apply tracking-wide;
}

.p-div {
  @apply space-y-4 text-center mt-7 px-5;
}

.s-div {
  @apply min-h-screen;
}

.c-div {
  @apply m-auto text-stone-900 grid laptop:max-w-3xl dark:text-gray-200;
}

#slider::-webkit-scrollbar {
  display: none;
}
#slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@tailwind utilities;
